<html>

<head>
    <meta charset="utf-8" />
    <title>Blog F8 With NodeJS</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <div class="app">
        {{> header}}
        <div class="container">
            {{{body}}}
            <!-- This is where the content will be injected -->
        </div>
        {{> footer}}
    </div>
</body>

</html>